:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}


@keyframes shadow-pulse2
  {
    50% {
      box-shadow: 0 0px 89px 0px rgba(255, 32, 32, 0.5), inset 0px 0px 55px 0px rgba(255, 129, 167, 0.5);
    }
  }

  .wrapper-frame {
    background-color: #e4c3dd;
    /*background-image: linear-gradient(to bottom right, #E4D8C3, #BEAD88);*/
    -moz-box-shadow: 0px 5px 55px 0px rgba(229, 190, 223, 0.5);
    -webkit-box-shadow: 0px 5px 55px 0px rgba(229, 190, 228, 0.5);
    box-shadow: 0px 5px 55px 0px rgba(229, 190, 228, 0.8), inset 0px 0px 55px 0px rgba(246, 226, 242, 0.5);
    margin: 55px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 95%;
    animation: shadow-pulse2 4s infinite;
  }

  .body-frame {
    background-color: #e4c3dd;
    background-image: linear-gradient(to bottom, #fabfed, #00003c);
    -moz-box-shadow: 0px 5px 55px 0px rgba(255, 175, 243, 0.5);
    -webkit-box-shadow: 0px 5px 55px 0px rgba(255, 179, 252, 0.5);
    box-shadow: 0px 5px 55px 0px rgba(255, 236, 254, 0.8), inset 0px 0px 55px 0px rgba(251, 146, 230, 0.5);
    /* margin: 55px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    /* width: 95%; */
    animation: shadow-pulse2 6s infinite;
  }



  
.glowsmall {
  color: #ffffff;
  text-align: center;
  -webkit-animation: glowsmall 4s ease-in-out infinite alternate;
  -moz-animation: glowsmall 4s ease-in-out infinite alternate;
  animation: glowsmall 4s ease-in-out infinite alternate;
 }

 @-webkit-keyframes glowsmall {
  from {
    text-shadow: 0 0 21px #ff81bc, 0 0 13px #e944d3, 0 0 21px #eea1fa, 0 0 34px #e0b9e6, 0 0 21px #e877d9, 0 0 13px #b382b7, 0 0 21px #8f648e;
  }

  to {
    text-shadow: 0 0 34px #EFE9E2, 0 0 21px #E5DCD2, 0 0 34px #E6D7B9, 0 0 21px #D6C5A1, 0 0 34px #B7A782, 0 0 34px #8F8264, 0 0 13px #F9F5F1;
  }
 }


* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffe8fa;
  ;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(223,177,182,1.00);
  height: 610px;
  width: 610px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 30%;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #ed9fe4;
  border: 2px solid #f251cc;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  /* margin-top: 20px; */
  width: 100%;
}


/* #thePrompt {

}

#userInputSlot {

}

#inputMessage {

} */